<html>
    <head>
        <title>This is gll-team's report.</title>
    <style>
        h1{text-align:center;font-size:150%;}
        h2{font-weight:bold;font-size: 100%;}
    </style>
    </head>
<body>
<h1>  Team EventOtter (GLL in our profile pages) Sprint 3 Report</h1>

<p> Xulin Guo(xulin.guo@yale.edu), Pingting Li(pingting.li@yale.edu), Lin Lin(victoria.lin@yale.edu)</p>


<h2>Burn down chart<h2>
<img src="http://ww4.sinaimg.cn/mw690/6d40f69cjw1epe1144bvfj20kw0ckgm5.jpg"/><br>

<br>
<p>
<h2>Completed stories in this sprint(if any)</h2>
As an attendee, I can visit the event detail page to RSVP for an event<br>
- I can submit my email address by filling in a form. If I submit an email address that does not end in "@yale.edu", the form is redisplayed with an error message. <br>
- If I submit a valid email address, I see the event detail page again and it shows my email address on there along with the other attendees.<br>

</p>

<br>
<p>
<h2>What have been achieved, including roadblocks</h2>
Achieved: <br>
Create an API respond in JSON format<br>
Enable the event creation form to be submitted<br>
Validate the form when submitted<br>
Show error messages if the form was not valid<br>
Create a RSVP form in event detail page<br>
Validate the RSVP email to be a yale email address<br>
</p>
<br>

<p>
<h2>Project retrospective</h2>
Stand-up meeting is very efficient to keep everyone on the same page and adjust workload<br>
Learning from how others complete user stories helps to complete own story more efficeintly<br>
</p>
</body>
</html>