body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-errors {
	color: red;
}

header {
  font-size: 200%;
  color: #B2D234;
}

footer {
  background-color: #eee;
  padding: 1em;
  border: 1px soid #ddd;
  margin: 2em 0;
}


