body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-errors {
	color: red;
}

footer {
  background-color: #eee;
  padding: 1em;
<<<<<<< HEAD
  border: 1px soid #ddd;
  margin: 2em 0;
}
}
=======
  border: 1px solid #ddd;
  margin: 2em 0;
}
>>>>>>> d1a70162c770bebd39928bdf73760c20c42cfc81
